.login-heading {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0px auto 0px auto;
    gap: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.login-form > input {
    width: 200px;
    height: 2rem;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    border: 0px solid;
    outline: none;
}