.cart-item-img {
    width: 200px;
    max-height: 200px;
    border-radius: 5px;
    
}



.cart-item-content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cartActions {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.remove-button {
   width: 100%;
}


